<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masho Ado</title>

    <!-- Style Sheet -->
    <link rel="stylesheet" href="../public/styles/styles.css">


    <!-- Ion Icons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="top-nav">
                <div class="logo">M.A</div>
                <div class="menu-btn">
                    <span class="menu-bar"></span>
                    <span class="menu-bar"></span>
                    <span class="menu-bar"></span>
                </div>
            </div>
            <ul class="menu-items">
                <a href="#Home">HOME</a>
                <a href="#stack">SKILLS/STACK</a>
                <a href="Projects">PROJECTS</a>
                <a href="Contact">CONTACT</a>
            </ul>
        </nav>
        <div class="header-information">
            <div class="">
                <div class="introduction">
                    <h5>HELLO, AM MASHO ADO</h5>
                    <h1>A FRONTEND <br> WEB DEVELOPER</h1>
                    <p>I create web solutions using HTML5, CSS3 ,JAVASCRIPT, REACT, BOOTSRAP and Many More tools</p>
                </div>

                <div class="chat-button">
                    <h2>LET'S CHAT</h2>
                    <div class="icon">
                        <div class="straight-line"></div>
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                    </div>
                </div>
            </div>
            <div class="header-image">
                <img src="../public/images/cropped-removebg.png" alt="Masho-image">
                <div class="image-background"></div>
            </div>
        </div>
    </header>

    <main>
        <section id="stack">
            <div class="current-stack">
                <h5>CURRENT STACK</h5>
                <ul>
                    <li class="skill">html5</li>
                    <li class="skill">css3</li>
                    <li class="skill">sass</li>
                    <li class="skill">bootsrap</li>
                    <li class="skill">react js</li>
                    <li class="skill">javascript</li>
                </ul>
            </div>
            <div class="currently-learning">
                <H5>LEARNING</H5>
                <ul>
                    <li class="currently-learning-skill">node js</li>
                    <li class="currently-learning-skill">express</li>
                    <li class="currently-learning-skill">mongoDB</li>
                    <li class="currently-learning-skill">graphQL</li>
                    <li class="currently-learning-skill">rest Api</li>
                </ul>
            </div>
            <div class="responsibilities">
                <h5>SERVICES</h5>
                <div class="service-items">
                    <div class="item">
                        <h6>UI/UX</h6>
                        <p>In collaboration with the Design team i help in optimizing the user experienceusing HTML,
                            JavaScript and CSS to bring concepts to life and developing and maintaining the
                            user interface.
                        </p>
                    </div>
                    <div class="item">
                        <h6>RESPONSIVE DESIGN</h6>
                        <p>Mobile phones and tablets are responsible for 56.74% of global internet usage. My process of
                            developement therefore takes into consideration the need for the websites to be responsive
                            to all screens sizes by using media queries, fluid grids and flexibel visuals</p>
                    </div>
                    <div class="item">
                        <h6>API INTERGRATION</h6>
                        <p>Most websites use data from external sources like databases and therefore need to be
                            dynamically updated into websites. I am conversant with fetching data using APIs and
                            displaying data into UI</p>
                    </div>
                    <div class="item">
                        <h6>SEO</h6>
                        <p>SEO(Search Engine Optimization) helps in driving traffic to your website(isn't that what we
                            all want). I am conversant with SEO principles that help your website be ranked favourably
                            by search engines.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="Projects">
            <div>
                <div>
                    <img src="" alt="">
                </div>
                <div>
                    <p></p>
                    <div>
                        <a href="">VIEW SOURCE CODE</a>
                        <a href="">LIVE SITE</a>
                    </div>
                </div>
            </div>

            <div>
                <div>
                    <img src="" alt="">
                </div>
                <div>
                    <p></p>
                    <div>
                        <a href="">VIEW SOURCE CODE</a>
                        <a href="">LIVE SITE</a>
                    </div>
                </div>
            </div>

            <div>
                <div>
                    <img src="" alt="">
                </div>
                <div>
                    <p></p>
                    <div>
                        <a href="">VIEW SOURCE CODE</a>
                        <a href="">LIVE SITE</a>
                    </div>
                </div>
            </div>

            <div>
                <div>
                    <img src="" alt="">
                </div>
                <div>
                    <p></p>
                    <div>
                        <a href="">VIEW SOURCE CODE</a>
                        <a href="">LIVE SITE</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="Contact">
            <form action="/post" method="post">
                <label for="name">Name :</label>
                <input type="text" name="name">

                <label for="message">Message :</label>
                <input type="text" name="message">

                <button type="submit">Send Message</button>
            </form>
        </section>
    </main>

    <footer>
        <div>
            <div class="address">
                <p>MASHOADO@GMAIL.COM</p>
                <p>NAIROBI,KENYA</p>
                <P>+254 724 261 55</P>
            </div>
            <div class="socials">
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
        <div>
            <div class="logo">MASHO ADO</div>
            <P> &copy;
                <script> new Date().getFullYear()</script>. All Rights Reserved
            </P>
        </div>
    </footer>

    <script src="../public/client.js"></script>
</body>

</html>