// Import fonts from google fonts

@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Lato:wght@400;700;900&family=Poppins:wght@300;400&display=swap");

// Resetting css
html {
	scroll-behavior: smooth;
}

*,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

// RE-USABLE CSS

// COLORS
$Very-light-Orange-body: hsl(38, 22%, 93%);
$Black: hsl(0, 0%, 0%);
$ligh-Gray-project-item: hsl(0, 0%, 87%);
$Light-Orange-project-item: hsl(31, 41%, 83%);
$Border: hsl(40, 15%, 89%);
$paragraph: #8f887d;
$Orange-hover: hsl(14, 84%, 54%);

// FONTS
$paragraph-text: "Poppins", sans-serif;
$headings: "Lato", sans-serif;
$Logo: "Fleur De Leah", cursive;

// font weights
$font-weights: (
	"Extra-light": 300,
	"Regular": 400,
	"Bold": 700,
	"Extra-bold": 900,
);

// MIXINS
@mixin flexDirection($direction, $justify) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: center;
}

@mixin h5Heading {
	font-family: $paragraph-text;
	font-weight: map-get($font-weights, regular);
	color: $paragraph;
	font-size: 0.9rem;
	margin-bottom: 1rem;
}

//Body styling

body {
	background: $Very-light-Orange-body;
	padding: 0 2rem;
	overflow-x: hidden;
	font-size: 15px;
}

// ====================HEADER SECTION=============
nav {
	position: relative;
	display: block;
}

.top-nav {
	@include flexDirection(row, space-between);
	padding: 2rem 0;
	border-bottom: 1px solid $paragraph;
}

// style menu
.menu-btn {
	width: 30px;
	height: auto;
	@include flexDirection(column, center);
}
.menu-bar {
	height: 3px;
	width: 100%;
	background: $Black;
	border-radius: 10px;
	display: block;
	margin: 0.2rem;
}

.logo {
	font-family: $Logo;
	cursor: pointer;
	font-size: 1.5rem;
}

// menu items
.nav-link {
	color: $Black;
	font-family: $headings;
	font-weight: map-get($font-weights, Extra-bold);
	font-size: 1rem;
	transition: color 0.3s ease;
	margin-left: 2rem;
	&:hover {
		color: $Orange-hover;
	}
}

@media screen and (max-width: 768px) {
	.menu-items {
		@include flexDirection(column, center);
		align-items: flex-start;
		display: none;
		border-bottom: 1px solid $paragraph;

		&.active {
			display: flex;
		}
		a {
			padding: 3rem 0 0;

			&:last-child {
				padding-bottom: 3rem;
			}
		}
	}
}

// Header Information
.header-information {
	padding: 4rem 0;
	border-bottom: 1px solid $paragraph;
}
.introduction {
	span {
		@include h5Heading();
	}
	h1 {
		font-family: $headings;
		font-weight: map-get($font-weights, Extra-bold);
		margin: 1rem 0 2rem;
		font-size: 2.6rem;
		line-height: 1.5;
	}
	P {
		font-family: $paragraph-text;
		color: $paragraph;
		font-weight: map-get($font-weights, regular);
		line-height: 2;
	}
	a {
		color: $Black;
		font-family: $paragraph-text;
		font-size: 1rem;
		text-transform: uppercase;
	}
}
.header-image {
	overflow: hidden;
	margin-top: 3rem;
	max-width: 500px;
	img {
		border: 2px solid $paragraph;
		width: 100%;
		height: auto;
		object-fit: cover;
		transition: all 0.6s ease-in-out;
		filter: grayscale(100%);
		&:hover {
			filter: none;
			border: 2px solid $Orange-hover;
		}
	}
}

// chat button
.chat-button {
	@include flexDirection(row, flex-start);
	cursor: pointer;
	margin-top: 2rem;
	h2 {
		font-family: $paragraph-text;
	}
	.icon {
		transform: rotate(-45deg);
		position: relative;
		top: 2px;
		left: -5px;
		div {
			height: 3.3px;
			width: 23px;
			background: $Black;
			position: relative;
			left: 15px;
		}
		ion-icon {
			font-size: 25px;
		}
		@include flexDirection(row, flex-start);
	}
}

// =================MAIN==========================
// Stack section
#stack {
	padding: 4rem 0 0;
}
.current-stack,
.currently-learning {
	margin-bottom: 2rem;
	span {
		@include h5Heading();
	}
}
.tools {
	display: grid;
	grid-template-columns: repeat(auto);

	li {
		@include flexDirection(row, flex-start);
		font-family: $paragraph-text;
		font-weight: map-get($font-weights, Extra-light);
		font-size: 2.3rem;
		cursor: pointer;
		color: $paragraph;
		position: relative;
		margin-bottom: 0.5rem;
		transition: color 0.3s ease;
		&:hover {
			color: $Orange-hover;
		}
	}
}

// SERVICES
#services {
	padding: 4rem 0;
	border-bottom: 1px solid $paragraph;
	span {
		@include h5Heading();
	}
}
.service-items {
	display: grid;
	padding-top: 1rem;
	.service-item {
		margin-bottom: 4rem;
		padding: 2rem;
		cursor: pointer;
		border: 2px solid $paragraph;
		transition: border 0.4s ease-in-out, transform 0.4s ease-in-out;

		&:hover {
			border: 2px solid $Orange-hover;
			transform: scale(1.01);
		}
		h6 {
			color: $Black;
			font-family: $headings;
			font-size: 1.2rem;
			margin-bottom: 1.5rem;
		}
		p {
			font-family: $paragraph-text;
			color: $paragraph;
			font-weight: map-get($font-weights, Extra-light);
			line-height: 1.7;
		}
	}
}
// projects Section
#projects {
	padding: 5rem 0 0;
	border-bottom: 1px solid $paragraph;
	h1 {
		font-family: $paragraph-text;
		font-weight: map-get($font-weights, regular);
		margin: 1rem 0 2rem;
		font-size: 2.6rem;
		line-height: 1.5;
	}
}
.project-item {
	margin: 5rem 0;
}
.project-img {
	overflow: hidden;
	img {
		width: 100%;
		height: 400px;
		object-fit: cover;
		transition: all 1s ease;
		overflow: hidden;

		&:hover {
			transform: scale(1.05);
		}
	}
}
.project-information {
	padding: 2rem;
	span {
		font-family: $paragraph-text;
		font-weight: map-get($font-weights, regular);
	}
	p {
		font-family: $paragraph-text;
		color: $paragraph;
		margin: 1rem 0 2rem;
		line-height: 1.5;
	}
}

.project-links {
	font-family: $headings;
	@include flexDirection(row, space-between);
	a {
		color: $Black;
		font-weight: map-get($font-weights, Bold);
		transition: color 0.3s ease;

		&:hover {
			color: $Orange-hover;
		}
	}
}

// contact section
#contact {
	padding: 5rem 0;
	border-bottom: 1px solid $paragraph;
	span {
		@include h5Heading();
	}
}
form {
	margin-top: 2rem;
	@include flexDirection(column, center);
	align-items: flex-start;
	overflow: hidden;
	label {
		font-family: $headings;
		font-weight: map-get($font-weights, Bold);
		margin-bottom: 2rem;
		width: 100%;
		position: relative;
	}
	input {
		background: none;
		border: none;
		outline: none;
		border-bottom: 1px solid $paragraph;
		margin-left: 1rem;
		width: 80%;
		padding: 0.5rem;
		transition: border-bottom 0.3s ease-in-out;

		&:hover {
			border-bottom: 1px solid $Orange-hover;
		}
	}

	button {
		margin-top: 3rem;
		background: none;
		border: 2px solid $paragraph;
		padding: 1rem 2rem;
		font-family: $paragraph-text;
		font-weight: map-get($font-weights, regular);
		color: $paragraph;
		transition: all 0.3s ease-in-out;
		&:hover {
			border: 2px solid $Orange-hover;
			color: $Orange-hover;
		}
	}
}

// footer

footer {
	padding: 4rem 0;
	@include flexDirection(row, space-between);
	align-items: flex-start;
}
.copyright {
	font-family: $paragraph-text;
	font-weight: map-get($font-weights, regular);
	margin-top: 2rem;
}

.address > p {
	font-family: $paragraph-text;
	font-weight: map-get($font-weights, regular);
	margin-top: 1rem;
}
.socials {
	@include flexDirection(row, space-between);
	margin-top: 1rem;
	img {
		width: 25px;
		height: 25px;
		fill: $Orange-hover;
	}
}

// MEDIA QUERIES
@media screen and (min-width: 769px) {
	// header
	.top-nav {
		border: none;
	}
	.menu-btn {
		display: none;
	}
	.header-image {
		margin-top: 0;
		height: 100vh;
	}
	nav {
		@include flexDirection(row, space-between);
		border-bottom: 1px solid $paragraph;
	}

	// skills and stack
	.tools {
		grid-template-columns: repeat(3, 1fr);
	}
	.service-items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;
		.service-item {
			margin: 0;
		}
	}
}

@media screen and (min-width: 830px) {
	// header

	.header-information {
		padding: 6rem 0 0;
		@include flexDirection(row, space-between);
		align-items: flex-start;
	}
	.header-image {
		max-width: 350px;
	}
	.tools {
		grid-template-columns: repeat(4, 1fr);
	}
	// projects
	#projects {
		padding-bottom: 5rem;
	}

	.project-item {
		@include flexDirection(row, center);
		margin: 0;
		&:nth-child(2n + 2) {
			flex-direction: row-reverse;
		}
	}

	.project-information,
	.project-img {
		width: 50%;
	}
}

@media screen and (min-width: 1000px) {
	body {
		padding: 0 5rem;
	}
	// header image
	.header-image {
		max-width: 450px;
	}

	// skills
	.tools {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media screen and (min-width: 1200px) {
	body {
		padding: 0 8rem;
		font-size: 16px;
	}
	.header-image {
		max-width: 500px;
		height: 100vh;
	}

	.service-items {
		gap: 100px;
	}
	.project-items {
		gap: 100px;
		column-gap: 200px;
	}
}

@media screen and (min-width: 1400px) {
	body {
		padding: 0 10rem;
	}
	.tools {
		grid-template-columns: repeat(6, 1fr);
	}
}
